html, body{
    margin:0;
    padding: 0;
    font-size: 62.5%;
}
body{
    background-color:#EDEEEF;
    box-sizing:border-box;
    margin:0;
    padding:0;
    width:100%;
    height:100%;
}
header{
    background-color:darkblue;
    margin:0;
    padding:0;
    width:100%;
    
}
header img{
    margin-left: 20%;
}

nav{
    margin:0 auto;
    padding:0;
    width:80%;
    font-size: 1.3rem;
    text-transform: capitalize;
    text-align: center;   
    
}

nav ul li{
    margin:0;
    padding:20px;
    padding-bottom:30px;
    width:calc(100%6);
    display:inline-block;
    
}

nav ul li a{
    color:#ffffff;
    font: 1.1rem "Open Sans", sans-serif;
}

#home_tab{
    margin-left:250px;
}

main{
    background-color:#f1f1f1;
    margin-left:20%;
    margin-top:0;
    padding:0;
    width:60%;
    height:100%;
        
}
main div{
    background-color:#ffffff;
    width:100%;
    margin:0;
}
main section p{
    background-color:#F1F1F1;
    color:#898989;
    margin-top:;
    padding-top: 10px;
    font-size:4em;
    text-align: center
}

main section img{
    margin-top: 0%;
    margin-bottom: 1%;
    margin-left:1%;
    padding:0;
    width:98%;
}



#section_two{
    background-color:#F2F2F2;
    margin:0 auto;
    padding:0;
    padding-bottom:20px;
    width:100%;
    height:100%;
    
    
}

#inline_one{
    display:inline-block;
    margin:0;
    margin-top:20px;
    margin-left:10px;
    padding:0;
    width:40%;
    float:left;
}

#inline_two{
    display:inline-block;
    margin:0;
    margin-top:20px;
    margin-right:10px;
    padding-left:40px;
    padding-right:100px;
    width:calc(80%/2);
    height:244px;
    float:leftt;
    font-size: 1.4rem;
    text-align:left;
}

#main_nav{
    
    padding:0;
    
}


.tab_two{
    margin:0;
    padding:0;
    color:#70707B;
    font-size:1.4rem;
    text-align:
}

footer{
    margin:0 auto;
    margin-bottom:40px;
    padding-top:20px;
    padding-bottom:20px;
    background-color:#5A6D95;
    width:60%;
    margin-left:20%;
    font-size:1.6em;
    
}

footer section{
    margin:0 auto;
    padding:0;
    width:100%;
    
}

footer section p{
    display:inline-block;
    float:left;
   
}

#copyright{
    padding-left:25px;
    padding-right:30px;
    color:#ffffff;
}

#hipaa{
    padding-right:30px;
    color:#ffffff;
}

#disclaimer{
    color:#ffffff;
}


footer section img{
    display:inline-block;
   
}

#facebook{
    margin-left:180px;
}